<div class="row animated fadeIn">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

              <input #input (keyup)="buscarCandidato( input.value )" type="text" class="form-control" placeholder="Buscar candidato...">

          </div>
      </div>
  </div>
</div>


<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">

              <div class="text-right">
                  <button [routerLink]="['/candidato','nuevo']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                  <i class="fa fa-plus"></i>
                  Crear Candidato
                </button>
              </div>

              <h3 class="card-title">Candidatos registrados ( <small> {{ _candidatoService.totalCandidatos }} </small> )</h3>

              <table class="table table-hover">
                  <thead>
                      <tr>
                          <th>Foto</th>
                          <th>Candidato</th>
                          <th>Empresa</th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let candidato of candidatos">
                          <td>
                              <img [src]="candidato.img | imagen:'candidato'" class="img-50 img-circle">
                          </td>
                          <td>
                              {{ candidato.nombre }}
                          </td>
                          <td>
                            <!-- TO-DO {{ candidato.empresa.nombre }} -->
                              {{ candidato.empresa }}
                          </td>
                          <td>
                              <button [routerLink]="['/candidato', candidato._id ]" class="btn btn-primary">
                              <i class="fa fa-edit"></i>
                            </button>

                              <button (click)="borrarCandidato( candidato )" class="btn btn-danger">
                              <i class="fa fa-trash-o"></i>
                            </button>
                          </td>
                      </tr>
                  </tbody>
              </table>

          </div>
      </div>
  </div>
</div>
